<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895409070428-cmehd9o4jv1neu95pugp28l2i9kufcqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895409070428-cmehd9o4jv1neu95pugp28l2i9kufcqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDC2HajgBHo7IfuasfUsv1FNr9JJ3D7GS4</string>
	<key>GCM_SENDER_ID</key>
	<string>895409070428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.seminario.proyectoFinalSeminario</string>
	<key>PROJECT_ID</key>
	<string>proyecto-final-seminario-cc821</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-final-seminario-cc821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895409070428:ios:4613ddf11f5b531f87e199</string>
</dict>
</plist>